@model Product

<form method="post" enctype="multipart/form-data">

    <div class="form-group mb-3">
        <input type="text" class="form-control" id="SKU" name="SKU" value="@Model?.SKU" placeholder="SKU" required />
        @Html.ValidationMessageFor(model => model.SKU, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        <input type="text" class="form-control" id="Name" name="Name" value="@Model?.Name" placeholder="NAME" required />
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        <input type="text" class="form-control" id="Picture" name="Picture" value="@Model?.Picture" placeholder="PICTURE" required />
        @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        <input type="number" class="form-control" id="Price" name="Price" value="@Model?.Price" placeholder="PRICE" required />
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        <input type="text" class="form-control" id="Currency" name="Currency" value="@Model?.Currency" placeholder="CURRENCY" required />
        @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
    </div>

    <div class="form-group mb-3">
        <input type="number" class="form-control" id="Code" name="Code" value="@Model?.Code" placeholder="CODE" />
    </div>

    <div class="form-group mb-3">
        <input type="text" class="form-control" id="Description" name="Description" value="@Model?.Description" placeholder="DESCRIPTION" />
    </div>


    <div class="text-center mb-3">
        <button type="submit" class="btn btn-outline-success">CREATE</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
